body{
    margin: 0;
    padding: 0;
    color: #2e2e2e;;
    font-family: 'Lato', sans-serif;
    background:#6c757d;
}

.menu ul li {
    list-style: none;
    display:inline-block;
    margin-right:20px;
}
.menu ul li a:hover{
    color:lightgreen;
    text-decoration: none;
}

.menu ul{
    margin-top: 13px;
}

a{
    text-decoration: none;
    color: white;
}

.top{
    top:100px;
    position: relative;
}
h1,h2,p{
    color: white;
}